{% extends 'base.html.twig' %}

{% block title %}Worker{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
                <i class="material-icons">people</i>
            </div>
            <h3 class="card-title">Worker {{ worker.name }} {{ worker.surname }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ worker.id }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ worker.username }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ worker.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {% if is_granted('ROLE_OWNER') %}
            {% else %}
                <a class="btn btn-warning" href="{{ path('app_worker_edit', {'id': worker.id}) }}">edit</a>

                {{ include('worker/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col text-center">
            <a class="btn btn-primary" href="{{ path('app_worker_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
