{% extends 'base.html.twig' %}

{% block title %}Groups index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="{{ asset("mdp/assets/css/material-dashboard.css?v=2.2.2") }}" rel="stylesheet" />
    <link href="{{ asset('device_styl.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Groups List</h4>
        </div>
        <div class="card-body">
            {% if is_granted('ROLE_OWNER') %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no groups found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th class="text-center" data-exclude="true">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td class="td-actions text-right">
                                <div class="row justify-content-center">
                                    <div class="col-2">
                                        <a class="btn btn-warning" href="{{ path('app_groups_edit', {'id': group.id}) }}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </div>
                                    {{ include('groups/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col text-center">
                    <a class="btn btn-success btn-sm" href="{{ path('app_groups_new') }}">Create new Group</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
