{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Device with no user counter</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if is_granted('ROLE_OWNER') %}
                {% elseif is_granted('ROLE_REPORT_GEN') %}
                    <div class="row border-bottom">
                        <div class="col text-center">
                            <button class="btn btn-warning mb-3 DeviceNoUser">Export table to Excel Spreadsheet</button>
                        </div>
                    </div>
                {% endif %}
                <table class="table" id="devicenouserlist" data-cols-width="25,8">
                    <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Type</th>
                        <th>IP</th>
                        <th>Size in GB</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                        <td>{{ device.name }}</td>
                            <td>{{ device.type }}</td>
                            <td>{{ device.ipaddress }}</td>
                        <td>{% if device.specification %}
                            {{ device.specification.harddisk }}
                        {% else %}
                            No Specification set
                        {% endif %}
                        </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No Device with Hard drive</td>
                            <td colspan="d-none"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-rose" href="{{ path('app_report_index') }}">Return to Reports</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $(".exportHardDisk").click(function (e){
                    let tableId = $(this).data("tid");
                    let tableHardDisk = document.querySelector("#harddisklist").cloneNode(true);
                    tableHardDisk.innerHTML = tableHardDisk.innerHTML.replace(/>-</g,'><');

                    let name = 'Hard_disk.xlsx';
                    let book = TableToExcel.tableToBook(tableHardDisk,{
                        sheet:{
                            name: "Hard disk table"
                        }
                    });
                    TableToExcel.save(book,name)
                })
            })
        })
    </script>
{% endblock %}




